@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}
header{
  background: hsl(224, 36%, 15%);
  color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
header h1{
  margin: 0 5px;
}
header img{
  width: 30px;
  filter: invert(1);
  transform: rotate(-30deg);
}
header ul{
  display: flex;
  align-items: center;
}
header li{
  list-style: none;
  padding: 0 20px;
}
header a{
  text-decoration: none;
  color: #FFF;
}
header a.active{
  color: #999;
}

/* section */
section{
  padding: 20px 0;
  /* background: hsl(224, 36%, 15%); */
}
section ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}
section li {
  cursor: pointer;
}
section li.tab{
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 3px solid hsl(224, 36%, 15%);
  border-radius: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#news_feed{
  margin: 10px auto;
  width: 500px;
  padding: 20px 0;
  /* box-shadow: 2px 2px 4px hsl(224, 36%, 15%); */
}
#news_feed .review{
  padding: 10px;
  margin: 100px 0;
  box-shadow: 2px 2px 4px hsla(224, 36%, 15%, 0.3);
}
#news_feed .review-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 50%; */
}

.review-title div{
  display: flex;
  align-items: center;
}
.review-title div h2{
  padding: 0 10px;
  font-weight: 100;
  font-size: 1rem;
}
.review-title .avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.review-text p{
  margin: 10px 0;
}
.review-text img{
  width: 100%;
  height: 400px;
}
.about li:nth-child(1){
  cursor: auto;
}
.about span{
  padding: 0 5px;
  font-weight: bold;
}
/* add a review*/
form{
  margin: 50px auto;
  display: none;
  width: 100%;
  max-width: 500px;
}
form h2 {
  text-align: center;
  color: hsl(231, 69%, 60%);
}
form div {
  margin: 50px 0;
}
form label{
  display: block;
  margin: 20px 0;
}
form input{
  border: none;
  border-bottom: 2px solid hsl(224, 36%, 15%);
  width: 100%;
  max-width: 500px;
  outline: none;
}
button{
  border: 1px solid hsl(231, 69%, 60%);
  background: hsl(231, 69%, 60%);
  border-radius: 3px;
  padding: 7px 20px;
  text-align: center;
  box-shadow: 2px 2px 4px hsla(229, 31%, 21%, 0.2);
  color: #FFF;
  cursor: pointer;
}
@media(max-width: 375px){
  /* header h1 */
  header ul{
    display: none
  }
}
